<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Registrarme</title>
    <link rel="shortcut icon" href="/images/icon.jpg" /></head>
<body>
    <%- include('./partials/navigation.ejs') %>

    <form onsubmit="register(event)" class="login">
        <h1 class="title">
            Registrarme
        </h1>
        <div class="form-group">
            <input type="text" class="input" name="username" placeholder="Ingresar usuario">
        </div>
        <div class="form-group">
            <input type="password" class="input" name="password" placeholder="Ingresar contraseña">
        </div>
        <div>
            <input type="submit" value="Registrarme" class="button btn-register">
        </div>
    </form>

</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/javascripts/register.js"></script>
</html>