.title{
    margin: 2rem 0;
}
.skyblue{
    color: skyblue;
    border: 1px solid skyblue;
}

.skyblue:hover{
    background-color: skyblue;
    color: white;
    border-color: white;
}

.blue{
    color: blue;
    border: 1px solid #0000f96b;
}

.blue:hover{
    background-color: blue;
    color: white;
    border-color: white;
}

.red{
    color: red;
    border: 1px solid rgb(214, 72, 72);
}

.red:hover{
    background-color: red;
    border-color: white;
    color: white;
}

.green{
    color: green;
    border: 1px solid rgb(70, 153, 70);
}

.green:hover{
    background-color: green;
    color: white;
    border-color: white;
}

.btn{
    padding: 5px;
    font-size: 13px;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    transition: .7s all ease-in-out;
}


table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

th {
    resize: horizontal;
    /* Makes the cell resizable */
}

th::-webkit-resizer {
    background-color: transparent;
    padding: 20px;
}

.bajarme{
    color: red;
    font-size: 1rem;
    cursor: pointer;
    transition: 400ms all ease-in-out;
}

.bajarme:hover{
    border-bottom: 1px solid red;
}

.bajarme:active{
    color: rgb(190, 13, 13);
    border-bottom: 1px solid rgb(190, 13, 13) ;

}

.pdf{
    border: none;
    background-color: red;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

.pdf i{
    color: white;
}

@media only screen and (max-width:500px) {
    th,
td {
    font-size: 10px;
}
.bajarme{
    font-size: 12px;
}
}